/* ==========================================================================
   Splash page component
   ========================================================================== */
.splash-wrapper {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    display: none;
    overflow: hidden;
    width: 100%;
    height: 0;
    background-color: #FFF;
    background-size: cover;
}

.splash-wrapper div {
    position: relative;
    z-index: 200;
}

.splash-inner {
    padding: 0 1.5rem;
    text-align: center;
}

@media screen and (min-width: 1025px) {
    .splash-inner {
        width: 750px;
        margin: 0 auto;
        padding: 0;
    }
}
